<section class="matches">
  <div class="matches__tab">
    <button class="matches__tab--button" [ngStyle]="{'border-right': '1px solid rgba(0, 0, 0, 0.123)', color: 'rgb(255, 51, 109)'}">Messages</button>
    <button class="matches__tab--button">Feed</button>
  </div>
  <div class="matches__container">
    <div class="matches__search">
      <ion-icon class="matches__search__icon" name="search"></ion-icon>
      <input class="matches__search__input" type="text" [placeholder]="conversations?.qttMatches">
    </div>
    <div class="matches__new">
      <span class="matches__new--title">New Matches</span>
      <ion-slides class="matches__new--slides" [options]="opts">
        <ion-slide class="matches__new--slides--slide" *ngFor="let match of conversations?.matches">
          <img class="matches__new--slides--slide--img" [src]="match.image_url" alt="">
        </ion-slide>
        <ion-slide [ngStyle]="{'height': '75px', 'width': '75px'}" class="matches__new--slides--slide">
        </ion-slide>
        <ion-slide [ngStyle]="{'height': '75px', 'width': '75px'}" class="matches__new--slides--slide">
        </ion-slide>
        <ion-slide [ngStyle]="{'height': '75px', 'width': '75px'}" class="matches__new--slides--slide">
        </ion-slide>
      </ion-slides>
    </div>
    <div class="matches__messages">
      <span class="matches__messages--title">Messages</span>
      <div class="matches__messages--conversations">
        <div class="matches__messages--conversations--unity" *ngFor="let conversation of conversations?.conversations">
          <div class="matches__messages--conversations--unity--img">
            <img [src]="conversation?.image_url" alt="">  
          </div>
          <div class="matches__messages--conversations--unity--content">
            <span class="matches__messages--conversations--unity--content--name">{{ conversation?.name }}</span>
            <p class="matches__messages--conversations--unity--content--msg">{{ conversation?.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>