<ion-content class="content">
  <div class="pic">
    <img src="https://avatars2.githubusercontent.com/u/45977530?v=4" alt="">
    <div class="pic__info">
      <h2 class="pic__info--name">João Carmargo, 19</h2>
      <p>14 miles away</p>
      <ion-icon class="pic__info--icon" name="information-circle"></ion-icon>
    </div>
  </div>
  <div class="controllers">
    <span class="controllers__btn">
      <ion-icon name="md-refresh"></ion-icon>
    </span>
    <span class="controllers__btn">  
      <ion-icon name="md-close"></ion-icon>
    </span>
    <span class="controllers__btn">
      <ion-icon class="my-icon" name="md-star"></ion-icon>
    </span>
    <span class="controllers__btn">
      <ion-icon name="md-heart"></ion-icon>
    </span>
    <span class="controllers__btn">
      <ion-icon name="ios-flash"></ion-icon>
    </span>
  </div>
</ion-content>
