.content {
    height: 100vh;
    .pic {
        background-color: rgba(0, 0, 0, 0.025);
        padding: 5px 5px;
        height: 75vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
        &__info {
            position: absolute;
            bottom: 10px;
            color: white;
            width: 90%;
            &--icon {
                top: 0px;
                position: absolute;
                right: 0;
                font-size: 28px;
            }
            &--name {
                margin: 0px;
            }
        }
    }
    .controllers {
        background-color: rgba(0, 0, 0, 0.025);
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        ion-icon {
            font-size: 30px;
        }
        [aria-label="close"] {
            color: rgb(255, 2, 2);
        }
        [aria-label="star"] {
            color: rgb(58, 108, 247);
        }
        [aria-label="heart"] {
            color: rgb(0, 255, 136);
        }
        [aria-label="flash"] {
            color: rgb(153, 0, 255);
        }
        [aria-label="refresh"] {
            color: rgb(255, 238, 0);
        }
    }
}