    .pic {
        background-color: transparent;
        padding: 5px 10px;
        height: 75vh;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            box-shadow: 0px 7px 3px 0px #0000000a;
        }
        &__info {
            position: absolute;
            bottom: 10px;
            color: white;
            width: 90%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            &--icon {
                top: 0px;
                position: absolute;
                right: 0;
                font-size: 28px;
            }
            &--name {
                margin: 0px;
            }
        }
    }
    .controllers {
        background-color: transparent;
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        &__btn {
            border-radius: 100%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            box-shadow: 0px 3px 3px 3px #00000005;
            [aria-label="close"] {
                color: rgb(255, 2, 2);
                font-size: 35px;
            }
            [aria-label="star"] {
                color: rgb(58, 108, 247);
                font-size: 25px;
            }
            [aria-label="heart"] {
                color: rgb(0, 255, 136);
                font-size: 35px;
            }
            [aria-label="flash"] {
                color: rgb(153, 0, 255);
                font-size: 25px;
            }
            [aria-label="refresh"] {
                color: rgb(255, 238, 0);
                font-size: 25px;
            }
        }
    }
    .container {
        position: relative;
    }

