<ion-content>
  <div class="content">
    <img src="./../../assets/images/girl3.jpg" alt="">
    <div class="content__div">
      <h1 class="content__div--logo"><ion-icon name="flame"></ion-icon>tindev</h1>
      <div>
        <p class="content__div--warning">
          By tapping the button below, you agree with our <u>Terms</u> and <u>Privacy Policy</u>
        </p>
        <button class="content__div--button" (click)="goToMyPhone()">GET STARTED</button>
        <p class="content__div--trouble">Trouble logging in?</p>
      </div>
    </div>
  </div>
</ion-content>
